<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments::header}"></head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!--Sidebar-->
    <ul th:replace="~{fragments::sidebar}"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="~{fragments::top-navbar}"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="mainDiv pl-5 pr-5">
                <div class="cardStyle">
                    <h2 class="formTitle mb-4">
                        <i>Change password</i>
                    </h2>
                    <div class="row">
                        <div class="col-4">
                            <img class="img-profile rounded-circle mb-5" src="img/undraw_profile.svg"
                                 style="width: 300px">
                        </div>
                        <div class="col">
                            <form th:action="@{/change-password}" method="post" name="signupForm" id="signupForm">
                                <div th:if="${message}" class="text-center alert">
                                    <p th:text="${message}"></p>
                                </div>
                                <!--                        <div class="inputDiv">-->
                                <!--                            <label class="inputLabel" for="password"> Current Password * </label>-->
                                <!--                            <input type="password" id="password" name="oldPassword" required>-->
                                <!--                        </div>-->
                                <div class="form-group">
                                    <label class="inputLabel" for="password">Current Password *</label>
                                    <input class="form-control" type="password"
                                           id="password" name="oldPassword" spellcheck="false" required>
                                </div>

                                <!--                        <div class="inputDiv">-->
                                <!--                            <label class="inputLabel" for="newpassword">New Password *</label>-->
                                <!--                            <input type="password" id="newpassword" name="newPassword" required>-->
                                <!--                        </div>-->
                                <div class="form-group">
                                    <label class="inputLabel" for="newpassword">New Password *</label>
                                    <input class="form-control" type="password"
                                           id="newpassword" name="newPassword" spellcheck="false" required>
                                </div>

                                <!--                        <div class="inputDiv">-->
                                <!--                            <label class="inputLabel" for="confirmPassword">Confirm Password *</label>-->
                                <!--                            <input type="password" id="confirmPassword" name="repeatNewPassword">-->
                                <!--                        </div>-->
                                <div class="form-group">
                                    <label class="inputLabel" for="confirmPassword">Confirm Password *</label>
                                    <input class="form-control" type="password"
                                           id="confirmPassword" name="repeatNewPassword" spellcheck="false" required>
                                </div>

                                <button type="submit" id="submitButton"
                                        class="text-center buttonWrapper btn btn-primary">
                                    <span>Submit</span>
                                </button>
                                <a class="text-center buttonWrapper btn btn-primary" th:href="@{/profile}">Return</a>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="~{fragments::footer}"></footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="~{fragments::scroll}"></a>

<!-- Bootstrap core JavaScript-->
<div th:replace="~{fragments::script}"></div>

<script th:src="@{/js/brands.js}"></script>
</body>

</html>