<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trang Chủ - FPT Shop 2020</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/owl.theme.default.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/jquery.fancybox.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/jsRapClock.css}" rel="stylesheet"/>
    <link th:href="@{/css/jquery.jqZoom.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <script th:src="@{/js/jquery-3.0.0.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/jquery.nicescroll.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/jquery.fancybox.min.js}"></script>
    <script th:src="@{/js/jsRapClock.js}"></script>
    <script th:src="@{/js/jquery.jqZoom.js}"></script>
    <script th:src="@{/js/jquery-stars.js}"></script>
    <script th:src="@{/js/jquery.scrollAds.js}"></script>
    <script th:src="@{/js/script.js}"></script>

    <style>
        .cart-box-main {
            background-color: #fff;
        }

        .count-product-cart {
            width: 107px;
            display: flex;
            align-items: center;
            height: 40px;
            border: 1px solid rgba(22, 24, 35, 0.12);
        }

        .sub-btn {
            font-size: 20px;
            border-right: 1px solid rgba(22, 24, 35, 0.12);
            padding: 5px 13px;
            user-select: none;
            cursor: pointer;
        }

        .product_quantity-cart {
            user-select: none;
        }

        .add-btn {
            font-size: 20px;
            border-left: 1px solid rgba(22, 24, 35, 0.12);
            padding: 5px 10px;
            user-select: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
<header th:replace="fragments :: header"></header>
<nav th:replace="fragments :: nav"></nav>
<div th:if="${error}" class="alert alert-danger text-center">
    <p th:text="${error}"></p>
</div>
<!-- Start Cart  -->
<main>
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <!-- Your cart table here -->
                        </br>
                        <p th:if="${shoppingCart.cartItems.isEmpty()}">Giỏ hàng rỗng</p>
                        </br>
                        <table class="table" th:if="${!shoppingCart.cartItems.isEmpty()}">
                            <!-- Table headers -->
                            <thead>
                            <tr>
                                <th>Ảnh</th>
                                <th>Tên sản phẩm</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Tổng</th>
                                <th>Hành động</th>
                            </tr>
                            </thead>
                            <!-- Table body -->
                            <tbody>
                            <tr th:each="cartItem : ${shoppingCart.cartItems}">
                                <td class="thumbnail-img">
                                    <a th:href="@{'/product-detail/' + ${cartItem.product.getId()}}">
                                        <img class="img-fluid rounded"
                                             th:src="'data:image/jepg;base64,' + ${cartItem.product.image}" alt="Image"
                                             style="width: 120px"/>
                                    </a>
                                </td>
                                <td class="name-pr align-middle">
                                    <a th:href="@{'/product-detail/' + ${cartItem.product.getId()}}">
                                        <p th:text="${cartItem.product.name}"></p>
                                    </a>
                                </td>
                                <td class="price-pr align-middle">
                                    <p th:text="${#numbers.formatDecimal(cartItem.product.costPrice, 1, 'COMMA', 0, 'POINT')} + 'đ'"></p>
                                </td>
                                <form th:action="@{/update-cart}" method="post" class="update-cart-form">
                                    <!-- Hidden fields for product ID and quantity -->
                                    <input type="hidden" name="id" th:value="${cartItem.product.id}" />
                                    <input type="hidden" name="quantity" class="hidden-quantity" th:value="${cartItem.quantity}" />
                                    <td class="quantity-box align-middle">
                                        <div class="count-product-cart">
                                            <a th:href="@{'/update-to-cart?id=' + ${cartItem.product.id} + '&quantity=-1'}">
                                                <div class="sub-btn" th:id="'sub-btn-' + ${cartItem.product.id}">
                                                    -
                                                </div>
                                            </a>

                                            <input class="product_quantity-cart form-control" name="quantity" disabled
                                                   style="border: none; width: 34px" min="0" th:value="${cartItem.quantity}" />

                                            <input hidden type="submit" name="action" value="update" id="iSubmit">
                                            <script>
                                                document.addEventListener("DOMContentLoaded", function() {
                                                    const quantityInput = document.querySelector('.product_quantity-cart');
                                                    const submitButton = document.getElementById('iSubmit');

                                                    // Lắng nghe sự kiện onchange của input
                                                    quantityInput.addEventListener('change', function() {
                                                        // Submit form khi giá trị input thay đổi
                                                        submitButton.click();
                                                    });
                                                });
                                            </script>
                                            <a th:href="@{'/update-to-cart?id=' + ${cartItem.product.id} + '&quantity=+1'}">
                                                <div class="add-btn" th:id="'add-btn-' + ${cartItem.product.id}">
                                                    +
                                                </div>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="total-pr align-middle">
                                        <p th:text="${#numbers.formatDecimal(cartItem.product.costPrice * cartItem.quantity, 1, 'COMMA', 0, 'POINT')} + 'đ'"></p>
                                    </td>
                                    <td class="align-middle">
                                        <button type="submit" name="action" value="delete" title="Update"
                                                class="btn btn-outline-danger btn-sm">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                </form>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row my-5 pb-5" th:if="${session.totalItems}">
                <div class="col-lg-8 col-sm-12"></div>
                <div class="col-lg-4 col-sm-12">
                    <div class="order-box">
                        <h3>Tóm tắt đơn hàng</h3>
                        <div class="d-flex">
                            <h4>Tổng phụ</h4>
                            <div class="ml-auto font-weight-bold" th:text="${#numbers.formatDecimal(subTotal, 1, 'COMMA', 0, 'POINT')} + 'đ'"></div>
                        </div>
                        <hr class="my-1">
                        <!--                        <div class="d-flex">-->
                        <!--                            <h4>Thuế (10%)</h4>-->
                        <!--                            <div class="ml-auto font-weight-bold" th:text="${#numbers.formatCurrency(subTotal  * 0.1)}"></div>-->
                        <!--                        </div>-->
                        <div class="d-flex">
                            <h4>Giá ship</h4>
                            <div class="ml-auto font-weight-bold"> Miễn Phí</div>
                        </div>
                        <hr>
                        <div class="d-flex gr-total">
                            <h5>Tổng tiền</h5>
                            <div class="ml-auto h5" th:text="${#numbers.formatDecimal(subTotal, 1, 'COMMA', 0, 'POINT')} + 'đ'"></div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="col-12 d-flex shopping-box"><a href="checkout.html" th:href="@{/check-out}"
                                                           class="ml-auto btn btn-danger hvr-hover">Thanh toán</a>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- End Cart -->
<footer th:replace="fragments :: footer"></footer>
</body>

</html>