<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trang Chủ - FPT Shop 2020</title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/bootstrap-icons.css" rel="stylesheet" />
    <link href="Content/owl.carousel.min.css" rel="stylesheet" />
    <link href="Content/owl.theme.default.min.css" rel="stylesheet" />
    <link href="Content/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="Content/jsRapClock.css" rel="stylesheet" />
    <link href="Content/jquery.jqZoom.css" rel="stylesheet" />
    <link href="plugins/validate/css/validationEngine.jquery.css" rel="stylesheet" />
    <link href="Content/style.css" rel="stylesheet" />

    <script src="Scripts/jquery-3.0.0.js"></script>
    <script src="Scripts/bootstrap.bundle.js"></script>
    <script src="Scripts/jquery.nicescroll.js"></script>
    <script src="Scripts/owl.carousel.min.js"></script>
    <script src="Scripts/jquery.fancybox.min.js"></script>
    <script src="Scripts/jsRapClock.js"></script>
    <script src="Scripts/jquery.jqZoom.js"></script>
    <script src="Scripts/jquery-stars.js"></script>
    <script src="plugins/validate/js/languages/jquery.validationEngine-vi.js"></script>
    <script src="plugins/validate/js/jquery.validationEngine.js"></script>
    <script src="Scripts/script.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo">
                        <a href="/">Logo</a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control"
                               placeholder="Nhập tên điện thoại, máy tính ... cần tìm" />
                        <button class="btn btn-dark btn-sm" type="button">
                            <i class="bi-search"></i>
                        </button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <ul class="top-link">
                        <li>
                            <a href="#">
                                <i>icon</i>
                                Thông tin hay
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i>icon</i>
                                Thu hộ điện, nước
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i>icon</i>
                                Giỏ hàng
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light main-menu">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                            <i>icon</i>
                            Điện thoại
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                            <i>icon</i>
                            Laptop
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                            <i>icon</i>
                            Apple
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                            <i>icon</i>
                            Đồng hồ
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                            <i>icon</i>
                            Phụ kiện
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                            <i>icon</i>
                            Máy cũ giá rẻ
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                            <i>icon</i>
                            Tablet
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                            <i>icon</i>
                            Sim &amp; Thẻ
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                            <i>icon</i>
                            Khuyến mãi
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                            <i>icon</i>
                            Trả góp
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <content>
        <section class="contact">
            <div class="container">
                <div class="background">
                    <h1>Liên Hệ</h1>
                    <div class="google-map">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item"
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.631727098775!2d106.66116031472309!3d10.991145258199278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d1176c819bed%3A0x6bb992b5bab17c85!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBLaW5oIHThur8gLSBL4bu5IFRodeG6rXQgQsOsbmggRMawxqFuZw!5e0!3m2!1svi!2s!4v1621339917673!5m2!1svi!2s"
                                    allowfullscreen="" loading="lazy">
                            </iframe>
                        </div>
                    </div>
                    <div class="sologan">
                        BHDG - LUÔN CUNG CẤP SẢN PHẨM DỰ ÁN VÀ KHÁCH HÀNG DOANH NGHIỆP CHUYÊN NGHIỆP NHẤT
                    </div>
                    <div class="row">
                        <div class="col-lg-6 form">
                            <h2>Yêu cầu báo giá</h2>
                            <strong>
                                Hãy để lại thông tin yêu cầu, FPT Shop sẽ liên lạc lại để tư vấn cho quý khách. Những trường có dấu * vui lòng không để trống.
                            </strong>
                            <div class="control" id="form-validate">
                                <div class="border-wrap">
                                    <label>Họ tên</label>
                                    <input class="validate[required]" data-errormessage-value-missing="mày bị ngu à!"
                                           type="text" name="name" value="" />
                                    <span>*</span>
                                </div>
                                <div class="border-wrap">
                                    <label>Số điện thoại</label>
                                    <input class="validate[required,custom[integer]]"   data-errormessage-value-missing data-errormessage="mày có chắc là nhập số điện thoại ko"type="text" name="name" value="" />
                                    <span>*</span>
                                </div>
                                <div class="border-wrap">
                                    <label>Email</label>
                                    <input class="validate[required,custom[email]]" data-errormessage-custom-error="nhập theo định dạng: someone@nowhere.com" type="text" name="name" value="" />
                                    <span>*</span>
                                </div>
                                <div class="border-wrap">
                                    <label>Tên công ty</label>
                                    <input type="text" name="name" value="" />
                                </div>
                                <div class="border-wrap">
                                    <label>Địa chỉ</label>
                                    <input type="text" name="name" value="" />
                                </div>
                                <div class="text-right">
                                    <a class="btn btn-outline-info" href="#">
                                        <i class="bi bi-cursor"></i>
                                        Gửi thư liên hệ
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 info">
                            <strong>Kính gửi Quý khách hàng,</strong>
                            <p>
                                Đầu tiên, cảm ơn Quý khách hàng đã ghé thăm website của BHDG chúng tôi, Quý khách có nhu cầu dự án, mua sắm trang thiết bị cho Doanh nghiệp mình hay có mong muốn trở thành đối tác phân phối thiết bị an ninh, thiết bị báo cháy, BHDG chúng tôi luôn sẵn sàng đáp ứng.
                            </p>
                            <p>
                                BHDG luôn mong mỏi chăm sóc và đồng hành cùng Quý Khách hàng với rất nhiều cam kết và ưu đãi:
                            </p>
                            <ul>
                                <li>Giá luôn luôn tốt và phù hợp.</li>
                                <li>Sản phẩm 100% chính hãng, đầy đủ giấy tờ.</li>
                                <li>Dịch vụ bảo hành nhanh chóng tại hãng, nhà phân phối và BHDG.</li>
                                <li>Điều khoản thanh toán linh hoạt.</li>
                                <li>Giao hàng nhanh chóng từ BHDG hoặc đối tác thứ 3, hỗ trợ chi phí giao hàng tối đa.</li>
                                <li>Lắp đặt chuyên nghiệp với kinh nghiệm lâu năm của đội ngũ nhân viên.</li>
                                <li>Hàng hóa luôn phong phú và đa dạng với hệ thống đối tác kinh doanh lớn trong và ngoài nước rất rộng của chúng tôi.</li>
                            </ul>
                            <p>
                                Quý Khách hàng có thể để lại thông tin cho chúng tôi vào FORM thông tin bên cạnh để BHDG có thể chăm sóc quý khách một cách tốt nhất hoặc liên lạc qua Hotline Phòng Kinh Doanh 0949.70.6006 để được xử lý nhanh nhất.
                            </p>
                            <strong>
                                Cảm ơn và rất hy vọng được đồng hành cùng Quý Khách hàng!
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="home-ads-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <a href="#">
                            <img class="w-100" src="Content/image/ads-home/2.1.png" />
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#">
                            <img class="w-100" src="Content/image/ads-home/2.2.png" />
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="home-kit">
            <div class="container">
                <div class="background">
                    <h2>Phụ Kiện HOT</h2>
                    <ul class="row">
                        <li class="col-lg col-md-3 col-6">
                            <a href="#">
                                <img src="Content/image/kit/phu-kien.png" />
                                <span>Phụ Kiện Nổi Bật</span>
                            </a>
                        </li>
                        <li class="col-lg col-md-3 col-6">
                            <a href="#">
                                <img src="Content/image/kit/bao-da-op-lung.png" />
                                <span>Bao Da Ốp Lưng</span>
                            </a>
                        </li>
                        <li class="col-lg col-md-3 col-6">
                            <a href="#">
                                <img src="Content/image/kit/sac-du-phong.png" />
                                <span>Sạc Dự Phòng</span>
                            </a>
                        </li>
                        <li class="col-lg col-md-3 col-6">
                            <a href="#">
                                <img src="Content/image/kit/the-nho.png" />
                                <span>Thẻ Nhớ</span>
                            </a>
                        </li>
                        <li class="col-lg col-md-3 col-6">
                            <a href="#">
                                <img src="Content/image/kit/apple.png" />
                                <span>Phụ Kiện Apple</span>
                            </a>
                        </li>
                        <li class="col-lg col-md-3 col-6">
                            <a href="#">
                                <img src="Content/image/kit/mien-dan-man-hinh.png" />
                                <span>Miếng Dán Màn Hình</span>
                            </a>
                        </li>
                        <li class="col-lg col-md-3 col-6">
                            <a href="#">
                                <img src="Content/image/kit/tai-nghe.png" />
                                <span>Tai Nghe</span>
                            </a>
                        </li>
                        <li class="col-lg col-md-3 col-6">
                            <a href="#">
                                <img src="Content/image/kit/phu-kien-tai-che.png" />
                                <span>Phụ Kiện Cũ</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="row">
                        <li class="col-lg col-md-3 col-6">
                            <a href="#">
                                <img src="Content/image/kit/loa.png" />
                                <span>Loa</span>
                            </a>
                        </li>
                        <li class="col-lg col-md-3 col-6">
                            <a href="#">
                                <img src="Content/image/kit/usb-o-cung.png" />
                                <span>USB - Ổ Cứng</span>
                            </a>
                        </li>
                        <li class="col-lg col-md-3 col-6">
                            <a href="#">
                                <img src="Content/image/kit/cap-sac.png" />
                                <span>Sạc Cáp</span>
                            </a>
                        </li>
                        <li class="col-lg col-md-3 col-6">
                            <a href="#">
                                <img src="Content/image/kit/chuot.png" />
                                <span>Chuột</span>
                            </a>
                        </li>
                        <li class="col-lg col-md-3 col-6">
                            <a href="#">
                                <img src="Content/image/kit/ban-phim.png" />
                                <span>Bàn Phím</span>
                            </a>
                        </li>
                        <li class="col-lg col-md-3 col-6">
                            <a href="#">
                                <img src="Content/image/kit/balo.png" />
                                <span>Balo - Túi Xách</span>
                            </a>
                        </li>
                        <li class="col-lg col-md-3 col-6">
                            <a href="#">
                                <img src="Content/image/kit/tivi.png" />
                                <span>TV - BOX</span>
                            </a>
                        </li>
                        <li class="col-lg col-md-3 col-6">
                            <a href="#">
                                <img src="Content/image/kit/phu-kien-khac.png" />
                                <span>Phụ Kiện Khác</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="home-telecom">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <a href="#">
                            <img class="w-100" src="Content/image/ads-home/3.1.png" />
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="#">
                            <img class="w-100" src="Content/image/ads-home/3.2.png" />
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="#">
                            <img class="w-100" src="Content/image/ads-home/3.3.png" />
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </content>
    <footer>
        <section class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 footer-link">
                        <div class="row">
                            <div class="col-lg-4">
                                <ul>
                                    <li>
                                        <a href="#">Giới thiệu về công ty</a>
                                    </li>
                                    <li>
                                        <a href="#">Câu hỏi thường gặp mua hàng</a>
                                    </li>
                                    <li>
                                        <a href="#">Chính sách bảo mật</a>
                                    </li>
                                    <li>
                                        <a href="#">Quy chế hoạt động</a>
                                    </li>
                                    <li>
                                        <a href="#">Kiểm tra hóa đơn điện tử</a>
                                    </li>
                                    <li>
                                        <a href="#">Tra cứu thông tin bảo hành</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <ul>
                                    <li>
                                        <a href="#">Tin tuyển dụng</a>
                                    </li>
                                    <li>
                                        <a href="#">Tin khuyến mãi</a>
                                    </li>
                                    <li>
                                        <a href="#">Hướng dẫn mua online</a>
                                    </li>
                                    <li>
                                        <a href="#">Hướng dẫn mua trả góp</a>
                                    </li>
                                    <li>
                                        <a href="#">Chính sách trả góp</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <ul>
                                    <li>
                                        <a href="#">Hệ thống cửa hàng</a>
                                    </li>
                                    <li>
                                        <a href="#">Hệ thống bảo hành</a>
                                    </li>
                                    <li>
                                        <a href="#">Kiểm tra hàng Apple chính hãng</a>
                                    </li>
                                    <li>
                                        <a href="#">Giới thiệu máy đổi trả</a>
                                    </li>
                                    <li>
                                        <a href="#">Chính sách đổi trả</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 footer-contact">
                        <div class="row">
                            <div class="col-lg-5">
                                <strong>Tư vấn mua hàng (Miễn phí)</strong>
                                <h4>
                                    <a href="tel:18006601">1800 6601</a>
                                    <span>(Nhánh 1)</span>
                                </h4>
                                <strong>Hỗ trợ kỹ thuật</strong>
                                <h4>
                                    <a href="tel:18006601">1800 6601</a>
                                    <span>(Nhánh 2)</span>
                                </h4>
                            </div>
                            <div class="col-lg-7">
                                <strong>Góp ý, khiếu nại dịch vụ (8h00-22h00)</strong>
                                <h4>
                                    <a href="tel:18006616">1800 6616</a>
                                </h4>
                            </div>
                            <div class="col-lg-5">
                                <strong>Hỗ trợ thanh toán:</strong>
                                <i class="payment">Icon</i>
                                <i class="support"></i>
                                <i class="bct"></i>
                            </div>
                            <div class="col-lg-7">
                                <strong>Chứng nhận:</strong>
                                <i class="certificate">Icon</i>
                                <div>Website cùng tập đoàn:</div>
                                <a class="longchau" href="http://nhathuoclongchau.com" target="_blank">Long Châu</a>
                                <a class="fbeauty" href="http://fbeauty.vn" target="_blank">FBeauty</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="footer-bottom">
            © 2007 - 2020 Công Ty Cổ Phần Bán Lẻ Kỹ Thuật Số FPT / Địa chỉ: 261 - 263 Khánh Hội, P5, Q4, TP. Hồ Chí Minh / GPĐKKD số 0311609355 do Sở KHĐT TP.HCM cấp ngày 08/03/2012. GP số 47/GP-TTĐT do sở TTTT TP HCM cấp ngày 02/07/2018. Điện thoại: (028)73023456. Email: fptshop@fpt.com.vn.
            <br />
            Chịu trách nhiệm nội dung: Nguyễn Trịnh Nhật Linh.
        </section>
    </footer>
</body>
</html>