<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="https://www.thymeleaf.org/">-->
<!--&lt;!&ndash; Basic &ndash;&gt;-->
<!--<head th:replace="~{fragments::head}">-->
<!--</head>-->

<!--<body>-->
<!--&lt;!&ndash; Start Main Top &ndash;&gt;-->
<!--<div th:replace="~{fragments::main-top}">-->

<!--</div>-->
<!--&lt;!&ndash; End Main Top &ndash;&gt;-->

<!--&lt;!&ndash; Start Main Top &ndash;&gt;-->
<!--<header th:replace="~{fragments::main-header}" >-->
<!--</header>-->
<!--&lt;!&ndash; End Main Top &ndash;&gt;-->

<!--&lt;!&ndash; Start Top Search &ndash;&gt;-->
<!--<div th:replace="~{fragments::top-search}">-->
<!--</div>-->
<!--&lt;!&ndash; End Top Search &ndash;&gt;-->

<!--&lt;!&ndash; Start All Title Box &ndash;&gt;-->
<!--<div th:replace="~{fragments :: all-title-box}">-->
<!--</div>-->
<!--&lt;!&ndash; End All Title Box &ndash;&gt;-->

<!--<section id="login-form">-->
<!--    <div class="noi-dung">-->
<!--        <div class="form">-->
<!--            <div class="text-center">-->
<!--                <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>-->
<!--                <p class="mb-4">We get it, stuff happens. Just enter your email address below-->
<!--                    and we'll send you a link to reset your password!</p>-->
<!--            </div>-->
<!--            <form class="user" th:action="@{/do-loss-pass}" method="post" th:object = "${forgotPasswordRequest}" >-->
<!--                <fieldset>-->
<!--                    <div class="form-group">-->
<!--                        <div>-->
<!--                            <input type="text" class="form-control form-control-user"-->
<!--                                   id="exampleInputEmail" th:field="${forgotPasswordRequest.email}" aria-describedby="emailHelp"-->
<!--                                   placeholder="Enter Email Address...">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;                                        <a href="login.html" class="btn btn-primary btn-user btn-block">&ndash;&gt;-->
<!--                    &lt;!&ndash;                                            Reset Password&ndash;&gt;-->
<!--                    &lt;!&ndash;                                        </a>&ndash;&gt;-->
<!--                    <button type="submit" class="btn btn-primary btn-user btn-block">Reset Password</button>-->
<!--                </fieldset>-->
<!--            </form>-->
<!--            <hr>-->
<!--            <div class="text-center">-->
<!--                <a class="small" th:href="@{/register}">Create an Account!</a>-->
<!--            </div>-->
<!--            <div class="text-center">-->
<!--                <a class="small" th:href="@{/login}">Already have an account? Login!</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</section>-->

<!--</section>-->
<!--&lt;!&ndash; Start copyright  &ndash;&gt;-->
<!--<footer th:replace="~{fragments::footer}"></footer>-->
<!--&lt;!&ndash; End copyright  &ndash;&gt;-->

<!--<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>-->

<!--&lt;!&ndash; ALL JS FILES &ndash;&gt;-->
<!--<div th:replace="~{fragments::script}"></div>-->
<!--</body>-->

<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <title>FPT Laptop Shop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0-beta2/css/bootstrap.min.css">
    <style>
        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        body {
            background-color: rgb(192, 211, 211);
        }
    </style>
    <link rel="stylesheet" th:href="@{css/login.css}">
</head>

<body>
<div th:if="${info}" class="alert alert-info">
    <p th:text="${info}"></p>
</div>
<div th:if="${success}" class="alert alert-success text-center">
    <p th:text="${success}"></p>
</div>
<div th:if="${error}" class="alert alert-danger text-center">
    <p th:text="${error}"></p>
</div>
<section id="login-form">
    <div class="container_3d">
        <div th:if="${param.error}" class="alert alert-danger text-center">
            Invalid username or password
        </div>
        <div th:if="${param.logout}" class="alert alert-success text-center">
            You have been logged out!
        </div>
        <div class="wrapper">
            <form class="form" th:action="@{/do-loss-pass}" method="post" th:object = "${forgotPasswordRequest}">
                <h3>Forgot Password</h3>
                <div class="flex-column">
                    <label>Email </label>
                </div>
                <div class="inputForm">
                    <svg height="20" viewBox="0 0 32 32" width="20" xmlns="http://www.w3.org/2000/svg">
                        <g id="Layer_3" data-name="Layer 3">
                            <path
                                    d="m30.853 13.87a15 15 0 0 0 -29.729 4.082 15.1 15.1 0 0 0 12.876 12.918 15.6 15.6 0 0 0 2.016.13 14.85 14.85 0 0 0 7.715-2.145 1 1 0 1 0 -1.031-1.711 13.007 13.007 0 1 1 5.458-6.529 2.149 2.149 0 0 1 -4.158-.759v-10.856a1 1 0 0 0 -2 0v1.726a8 8 0 1 0 .2 10.325 4.135 4.135 0 0 0 7.83.274 15.2 15.2 0 0 0 .823-7.455zm-14.853 8.13a6 6 0 1 1 6-6 6.006 6.006 0 0 1 -6 6z">
                            </path>
                        </g>
                    </svg>
<!--                    <input type="text" class="input" name="username" placeholder="Enter your Email">-->
                    <input type="text" class="input"
                               id="exampleInputEmail" th:field="${forgotPasswordRequest.email}" aria-describedby="emailHelp"
                               placeholder="Enter Email Address">

                </div>

                <button class="button-submit" type="submit">Reset Password</button>
                <p class="p">Remember your password? <span class="span"><a th:href="@{/login}">Sign In</a></span></p>
            </form>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0-beta2/js/bootstrap.bundle.min.js"></script>
</body>

</html>